<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>       
    <div class="con">
        <header class="header">
            <div class="row">
                <div class="col s1">
                    <div class="logo-header"></div>
                </div>
                <div class="col s2">
                    <h1 class="header-title">RISK-MANAGER</h1>
                </div>
                <div class="col s5"></div>
                <div class="col s2">
                    <div class="button-centered"><button onclick="location.href='/admin/change-password'">Administrar cuenta</button></div>
                </div>
                <div class="col s2">
                    <div class="button-centered"><button>Crear Proyecto</button></div>
                </div>
            </div>
        </header>
        <div class="selectors">
            <div class="input-field">
                <select id="lista-estatus">
                  <option value="Todos">Todos</option>
                  <option value="En proceso">En proceso</option>
                  <option value="Atrasado">Atrasado</option>
                  <option value="En planeación">En planeación</option>
                  <option value="En espera">En espera</option>
                  <option value="Finalizado">Finalizado</option>
                </select>
                <label>Estatus del proyecto</label>
            </div>
            <div class="input-field">
                <select id="lista-departamento">
                    <option value="Todos">Todos</option>
                  <option value="Desarrollo web">Desarrollo web</option>
                  <option value="Diseño web">Diseño web</option>
                </select>
                <label>Departamento del proyecto</label>
            </div>
            <div class="input-field">
                <select id="lista-empresa">
                    <option value="Todos">Todos</option>
                  <% for (let i = 0; i <= empresas.length - 1; i++) { %>
                  <option value="<%= empresas[i].nombreEmpresa %>"><%= empresas[i].nombreEmpresa %></option>
                  <% } %>
                </select>
                <label>Empresa del proyecto</label>
            </div>
        </div>
        <div class="row">
            <% for (let i = 0; i <= resumedProyects.length - 1; i++) {
                if (resumedProyects[i].porcentajeRiesgo > 49) { 
                    var colorLeft = 'post-it-rojo';
                    var colorRight = 'post-it-rojo-claro';
                    var colorLetra = 'post-it-rojo-letra';
                } else if (resumedProyects[i].porcentajeRiesgo > 33) {
                    var colorLeft = 'post-it-amarillo';
                    var colorRight = 'post-it-amarillo-claro';
                    var colorLetra = 'post-it-amarillo-letra';
                } else if (resumedProyects[i].porcentajeRiesgo > 0) {
                    var colorLeft = 'post-it-azul'; 
                    var colorRight = 'post-it-azul-claro';
                    var colorLetra = 'post-it-azul-letra';
                } else {
                    var colorLeft = 'post-it-negro'; 
                    var colorRight = 'post-it-negro-claro';
                } %>
            <div class="col s4 project-card" 
                data-status="<%= resumedProyects[i].estatus %>" 
                data-department="<%= resumedProyects[i].departamento %>"
                data-company="<%= resumedProyects[i].nombreEmpresa %>">
                <div class="post-it hoverable">
                    <div class="row">
                        <div class="col s9">
                            <div class="post-it-header <%= colorLeft %>" onclick="detalles(<%= resumedProyects[i].idProyecto %>)">
                                <h2><%= resumedProyects[i].nombreProyecto %></h2>
                            </div>
                            <div class="post-it-left" onclick="detalles(<%= resumedProyects[i].idProyecto %>)">
                                <div class="post-it-risk <%= colorLetra %>">
                                    <h3>Porcentaje de riesgo</h3>
                                    <h1><%= resumedProyects[i].porcentajeRiesgo %>%</h1>
                                </div>
                                <div class="risks">
                                    <h3>Riesgos:</h3>
                                    <div class="riesgos">
                                        <% if (resumedProyects[i].riesgos.length < 1 || resumedProyects[i].riesgos[0].descripcionRiesgo == null) {%>
                                            <div class="icon-error">
                                                <h3> No hay riesgos registrados para este proyecto</h3>
                                            </div>
                                        <% } else { for (let j = 0; j < resumedProyects[i].riesgos.length; j++) {%>
                                        <div class="icon-error">
                                            <i class="tiny material-icons">error</i>
                                            <h3><%= resumedProyects[i].riesgos[j].descripcionRiesgo %></h3>
                                        </div>
                                        <% }} %>
                                    </div>
                                </div>
                            </div>
                            <div class="post-it-status" onclick="detalles(<%= resumedProyects[i].idProyecto %>)">
                                <h3><%= resumedProyects[i].estatus %></h3>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="icons <%= colorRight %>">
                                <div class="row">
                                    <div class="col s4">
                                        <div class="icon-edit"><i class="material-icons">edit</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-copy"><i class="material-icons">content_copy</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-delete"><i class="material-icons" onclick="location.href='/admin/change-password'">delete</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-it-dates <%= colorRight %>" onclick="detalles(<%= resumedProyects[i].idProyecto %>)">
                                <h2>Inicio</h2>
                                <h3><%= resumedProyects[i].fechaInicio %></h3>
                                <p><br></p>
                                <h2>Final</h2>
                                <h3><%= resumedProyects[i].fechaFinal %></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            function detalles(idProyecto) {
                fetch(`/detalles/${idProyecto}`, { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ idProyecto: idProyecto }),
                }).then(data => {
                    console.log('Success:', data);
                    window.location.href = `/detalles/detalles/${idProyecto}`; 
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        </script>
        <script>
            $(document).ready(function(){
                $('select').formSelect();

                // Función para aplicar los filtros combinados
                function applyFilters() {
                    const selectedStatus = $('#lista-estatus').val();
                    const selectedDepartment = $('#lista-departamento').val();
                    const selectedCompany = $('#lista-empresa').val();

                    $('.project-card').each(function() {
                        const cardStatus = $(this).data('status');
                        const cardDepartment = $(this).data('department');
                        const cardCompany = $(this).data('company');

                        const statusMatch = (selectedStatus === 'Todos' || cardStatus === selectedStatus);
                        const departmentMatch = (selectedDepartment === 'Todos' || cardDepartment === selectedDepartment);
                        const companyMatch = (selectedCompany === 'Todos' || cardCompany === selectedCompany);

                        if (statusMatch && departmentMatch && companyMatch) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
                $('#lista-estatus').on('change', applyFilters);
                $('#lista-departamento').on('change', applyFilters);
                $('#lista-empresa').on('change', applyFilters);
            });
        </script>
</body>
<footer> 
    <div class="row">
        <div class="col s4">
            <ul class="pagination">
                <li class="<%= paginaActual === 1 ? 'disabled' : 'waves-effect' %>">
                    <a href="?page=<%= paginaActual - 1 %>"><i class="material-icons">chevron_left</i></a>
                </li>
                <% for (let i = 1; i <= totalPaginas; i++) { %>
                <li class="<%= paginaActual === i ? 'active' : 'waves-effect' %>">
                    <a href="?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <li class="<%= paginaActual === totalPaginas ? 'disabled' : 'waves-effect' %>">
                    <a href="?page=<%= paginaActual + 1 %>"><i class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div>
        <div class="col s5"><div class="button-centered">Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</div></div>
        <div class="col s2"></div>
        <div class="col s1"><div class="button-centered"><button onclick="location.href='/../login/logout'">Cerrar Sesión</button></div></div>
    </div>
</footer>
</html>
