<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>       
    <div class="con">
        <header class="header">
            <div class="row">
                <div class="col s1">
                    <div class="logo-header"></div>
                </div>
                <div class="col s2">
                    <h1 class="header-title">RISK-MANAGER</h1>
                </div>
                <div class="col s5"></div>
                <div class="col s2">
                    <div class="button-centered"><button onclick="location.href='/admin/change-password'">Administrar cuenta</button></div>
                </div>
                <div class="col s2">
                    <div class="button-centered"><button>Crear Proyecto</button></div>
                </div>
            </div>
        </header>
        <div class="selectors">
            <div class="input-field">
                <select id="lista-estatus">
                  <option value="Todos">Todos</option>
                  <option value="En proceso">En proceso</option>
                  <option value="Atrasado">Atrasado</option>
                  <option value="En planeación">En planeación</option>
                  <option value="En espera">En espera</option>
                  <option value="Finalizado">Finalizado</option>
                </select>
                <label>Estatus del proyecto</label>
            </div>
            <div class="input-field">
                <select id="lista-departamento">
                    <option value="Todos">Todos</option>
                  <option value="Desarrollo web">Desarrollo web</option>
                  <option value="Diseño web">Diseño web</option>
                </select>
                <label>Departamento del proyecto</label>
            </div>
            <div class="input-field">
                <select id="lista-empresa">
                    <option value="Todos">Todos</option>
                  <% for (let i = 0; i <= empresas.length - 1; i++) { %>
                  <option value="<%= empresas[i].nombreEmpresa %>"><%= empresas[i].nombreEmpresa %></option>
                  <% } %>
                </select>
                <label>Empresa del proyecto</label>
            </div>
        </div>
        <div class="row">
            <% for (let i = 0; i <= resumedProyects.length - 1; i++) { %>
            <div class="col s4 project-card" 
                data-status="<%= resumedProyects[i].estatus %>" 
                data-department="<%= resumedProyects[i].departamento %>"
                data-company="<%= resumedProyects[i].nombreEmpresa %>">
                <% if (resumedProyects[i].porcentajeRiesgo > 49) { %>
                <div class="post-it">
                    <div class="row">
                        <div class="col s9">
                            <div class="post-it-header post-it-header-rojo">
                                <h2><%= resumedProyects[i].nombreProyecto %></h2>
                            </div>
                            <div class="post-it-risk post-it-risk-rojo">
                                <h1><%= resumedProyects[i].porcentajeRiesgo %>%</h1>
                                <h3>Porcentaje de riesgo</h3>
                            </div>
                            <div class="post-it-status">
                                <h3><%= resumedProyects[i].estatus %></h3>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="icons post-it-dates-rojo">
                                <div class="row">
                                    <div class="col s4">
                                        <div class="icon-edit"><i class="material-icons">edit</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-copy"><i class="material-icons">content_copy</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-delete"><i class="material-icons">delete</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-it-dates post-it-dates-rojo">
                                <h2>Inicio</h2>
                                <h3><%= resumedProyects[i].fechaInicio %></h3>
                                <p><br></p>
                                <h2>Final</h2>
                                <h3><%= resumedProyects[i].fechaFinal %></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else if (resumedProyects[i].porcentajeRiesgo > 33) { %>
                <div class="post-it">
                    <div class="row">
                        <div class="col s9">
                            <div class="post-it-header post-it-header-amarillo">
                                <h2><%= resumedProyects[i].nombreProyecto %></h2>
                            </div>
                            <div class="post-it-risk post-it-risk-amarillo">
                                <h1><%= resumedProyects[i].porcentajeRiesgo %>%</h1>
                                <h3>Porcentaje de riesgo</h3>
                            </div>
                            <div class="post-it-status">
                                <h3><%= resumedProyects[i].estatus %></h3>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="icons post-it-dates-amarillo">
                                <div class="row">
                                    <div class="col s4">
                                        <div class="icon-edit"><i class="material-icons">edit</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-copy"><i class="material-icons">content_copy</i></div>
                                    </div>
                                    <div class="col s4">
                                        <div class="icon-delete"><i class="material-icons">delete</i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-it-dates post-it-dates-amarillo">
                                <h2>Inicio</h2>
                                <h3><%= resumedProyects[i].fechaInicio %></h3>
                                <p><br></p>
                                <h2>Final</h2>
                                <h3><%= resumedProyects[i].fechaFinal %></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else if (resumedProyects[i].porcentajeRiesgo > 0) { %>
                    <div class="post-it">
                        <div class="row">
                            <div class="col s9">
                                <div class="post-it-header post-it-header-azul">
                                    <h2><%= resumedProyects[i].nombreProyecto %></h2>
                                </div>
                                <div class="post-it-risk post-it-risk-azul">
                                    <h1><%= resumedProyects[i].porcentajeRiesgo %>%</h1>
                                    <h3>Porcentaje de riesgo</h3>
                                </div>
                                <div class="post-it-status">
                                    <h3><%= resumedProyects[i].estatus %></h3>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="icons post-it-dates-azul">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="icon-edit"><i class="material-icons">edit</i></div>
                                        </div>
                                        <div class="col s4">
                                            <div class="icon-copy"><i class="material-icons">content_copy</i></div>
                                        </div>
                                        <div class="col s4">
                                            <div class="icon-delete"><i class="material-icons">delete</i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-it-dates post-it-dates-azul">
                                    <h2>Inicio</h2>
                                    <h3><%= resumedProyects[i].fechaInicio %></h3>
                                    <p><br></p>
                                    <h2>Final</h2>
                                    <h3><%= resumedProyects[i].fechaFinal %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>   
                    <div class="post-it">
                        <div class="row">
                            <div class="col s9">
                                <div class="post-it-header post-it-header-negro">
                                    <h2><%= resumedProyects[i].nombreProyecto %></h2>
                                </div>
                                <div class="post-it-risk post-it-risk-negro">
                                    <h1><%= resumedProyects[i].porcentajeRiesgo %>%</h1>
                                    <h3>Porcentaje de riesgo</h3>
                                </div>
                                <div class="post-it-status">
                                    <h3><%= resumedProyects[i].estatus %></h3>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="icons post-it-dates-negro">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="icon-edit"><i class="material-icons">edit</i></div>
                                        </div>
                                        <div class="col s4">
                                            <div class="icon-copy"><i class="material-icons">content_copy</i></div>
                                        </div>
                                        <div class="col s4">
                                            <div class="icon-delete"><i class="material-icons">delete</i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-it-dates post-it-dates-negro ">
                                    <h2>Inicio</h2>
                                    <h3><%= resumedProyects[i].fechaInicio %></h3>
                                    <p><br></p>
                                    <h2>Final</h2>
                                    <h3><%= resumedProyects[i].fechaFinal %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('select').formSelect();

                // Función para aplicar los filtros combinados
                function applyFilters() {
                    const selectedStatus = $('#lista-estatus').val();
                    const selectedDepartment = $('#lista-departamento').val();
                    const selectedCompany = $('#lista-empresa').val();

                    $('.project-card').each(function() {
                        const cardStatus = $(this).data('status');
                        const cardDepartment = $(this).data('department');
                        const cardCompany = $(this).data('company');

                        const statusMatch = (selectedStatus === 'Todos' || cardStatus === selectedStatus);
                        const departmentMatch = (selectedDepartment === 'Todos' || cardDepartment === selectedDepartment);
                        const companyMatch = (selectedCompany === 'Todos' || cardCompany === selectedCompany);

                        if (statusMatch && departmentMatch && companyMatch) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
                $('#lista-estatus').on('change', applyFilters);
                $('#lista-departamento').on('change', applyFilters);
                $('#lista-empresa').on('change', applyFilters);
            });
        </script>
</body>
<footer> 
    <div class="row">
        <div class="col s4"></div>
        <div class="col s5"><div class="button-centered">Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</div></div>
        <div class="col s2"></div>
        <div class="col s1"><div class="button-centered"><button onclick="location.href='/../login/logout'">Cerrar Sesión</button></div></div>
    </div>
</footer>
</html>
